<div class ="contenu">

  <mat-dialog-content>
    <tr>
      <td class="td">

      <img class="avatar mr-0 mr-sm-16" src="{{v2}}" style="border-radius: 50px; width: 60px;height: 60px;"/>

  </td><td>
      <h2 mat-dialog-title>{{v1}}</h2>
      <h3>Je suis {{v1}}, Etudiante en 2eme annee genie informatique en IIT</h3>
  </td>
  </tr>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button mat-fab extended color="primary" (click)="close()"> <mat-icon>close</mat-icon>Close</button>
  </mat-dialog-actions>
  </div>
